* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
      "header"
      "main"
      "footer";
    background: linear-gradient(#E6007E, #002D72 50%, 60%, #002D72);
  }
  
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 24px;
    color: #ffffff;
    padding-left: 75px;
    padding-right: 20px;
  
  }
  
  header span {
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  main {
    grid-area: main;
    display: grid;
    place-items: center;
  
  }
  
  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    align-items: center;
    color: #ffffff;
    padding: 0 75px;
    font-weight: 100;
    
  }
  .footer span{
    align-items: center;

  }
  
  footer div {
    width: 64px;
  }
  
  .background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .content-text {
    position: absolute;
    color: #ffffff;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
  }
  
  .content-image {
    height: 85vh;
  }
  
  @media (max-width: 768px) {
    header {
      padding-left: 25px;
    }
  
    .content-text {
      transform: translateX(0%);
      top: 80px;
      font-size: 1rem;
      width: 100px;
      text-align: center;
    }
  
    .content-image {
      height: 70vh;
    }
  
    footer {
      padding: 0 25px;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
    }

    .content-text {
        font-size: center;


    }
    
  }